@import url('https://fonts.googleapis.com/css?family=Trirong');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

nav ul{
  margin:10px;
  padding:10px;
  font:20px/2"Trirong";
  list-style-type: none;
}

.boxed {
  border: 2px dashed white ;
  float:right;
  margin-right: 400px;
<<<<<<< HEAD
<<<<<<< HEAD
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
=======

>>>>>>> origin/master
=======

>>>>>>> origin/master

}

#container{
  max-width: 960px;
  min-width:600px;
  margin-top:100px;
  padding-top: 300px;
<<<<<<< HEAD
<<<<<<< HEAD
  padding-left: 50px;
=======
>>>>>>> origin/master
=======
>>>>>>> origin/master

}
#name{
  font:25px/2"Playfair Display";
  margin-bottom: 30px;

}

img{
  float:left;
  max-width: 200px;
  border:10px solid white;

}

body{
  background-color: #FFE4E1;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 30px;
  font:18px/2 "Trirong";
  overflow: auto;
}



h2{
  border-bottom:3px solid white;

}
nav li a{
  display:block;
  text-align: justify;
  padding:10px;
  text-decoration:underline;
}

nav li{
  float:right;
}

a:visited{
  color:#9400D3;
}

a:hover{
  color:#FFFFFF;
}
