@import url('https://fonts.googleapis.com/css?family=Trirong');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

nav ul{
  margin:10px;
  padding:10px;
  font:20px/2"Trirong";
  list-style-type: none;
}

.boxed {
  margin-right: 100px;
}

#container{
  max-width: 960px;
  min-width: 600px;
  position: relative;
  align: center;
}

#name{
  font:25px/2"Playfair Display";
  margin-bottom: 30px;
}

#name-home{
  font:25px/2"Playfair Display";
  background-color: #ffffff;
  text-align: center;
}

#top{
  background-color: #B0e0e6;
  width: 960px;
  text-align: center;
}

.middle{
  width: 960px;
  position: relative;
  float: right;
  background-color: #ffffff;
  margin-left: 10px;
}

.bottom{
  background-color: #B0e0e6;
  width: 960px;
  height: 30px;
  margin-top: 75px;
}

.homeimg {
  float: left;
  max-width: 200px;
  margin-right: 50px;
  border: 10px 10px 10px solid white;
  padding-left: 10px;
}

body{
  background-color: #FFE4E1;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 30px;
  font:18px/2 "Trirong";
  overflow: auto;
}

h1{
  margin: 0px;
}

h2{
  border-bottom:3px solid white;
}

nav li a{
  display: block;
  text-align: justify;
  padding-right: 92px;
  padding-bottom: 15px;
  text-decoration: underline;
}

nav li{
  float: left;
}

nav{
  width: 960px;
  background-color: #B0e0e6;
  height: 58px;
}

a:visited{
  color: #2476C1;
}

a:hover{
  color: #000000;
}

#contact{
  padding-left: 10px;
}

#education{
  padding-left: 10px;
}

#activities{
  padding-left: 10px;
}

#experience{
  padding-left: 10px;
}

#skills{
  padding-left: 10px;
}

/* print */
@media print {
  * {
    color: #000;
    background: transparent;
  }

  @page {
    margin: 0.5in;
  }

  body {
    font-size: 12pt;
  }

  a {
    color: #000;
    text-decoration: none;
  }

  p {
    margin: 0.5em 0;
  }

  section {
    margin: 0;
    padding: 0;
    border: 0;
  }

  nav,
  .no-print {
    display: none;
  }

  a[href^="http"]:after {
    content: " (" attr(href) ") ";
  }

}
